<%= simple_form_for(@line,
  html: { class: 'form-horizontal well' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <fieldset>
    <%= form_legend %>

    <div class="form-inputs">
      <%= f.input :name
       %>
      <%= f.input :description
       %>
      <%= f.input :provider_id
       %>
      <%= f.association :location_a, 
            collection: Location.order(:lid),
            prompt: t('boskop.choose_location_a'),
            input_html: {class: 'select2'}
       %>
      <%= f.association :location_b,
            collection: Location.order(:lid),
            prompt: t('boskop.choose_location_b'),
            input_html: {class: 'select2'}
       %>
      <%= f.association :access_type
       %>
      <div class="form-group">
        <label for="bw_downstream" class="col-sm-3 control-label">
          <%= t('attributes.bw_downstream')%>
        </label>
        <div class="col-sm-3">
         <div class="input-group">
          <%= f.text_field :bw_downstream, 
                class: 'numeric decimal optional form-control',
                placeholder: t('boskop.primary_line') %>
          <div class="input-group-addon">
            <%= Boskop.bandwith_base_unit %> 
          </div>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="input-group">
          <%= f.text_field :bw2_downstream, 
                class: 'numeric decimal optional form-control',
                placeholder: t('boskop.secondary_line') %>
          <div class="input-group-addon">
            <%= Boskop.bandwith_base_unit %> 
          </div>
         </div>
        </div>
      </div>

      <div class="form-group">
        <label for="bw_upstream" class="col-sm-3 control-label">
          <%= t('attributes.bw_upstream')%>
        </label>
        <div class="col-sm-3">
         <div class="input-group">
          <%= f.text_field :bw_upstream, 
                class: 'numeric decimal optional form-control',
                placeholder: t('boskop.primary_line') %>
          <div class="input-group-addon">
            <%= Boskop.bandwith_base_unit %> 
          </div>
         </div>
        </div>
        <div class="col-sm-3">
         <div class="input-group">
          <%= f.text_field :bw2_upstream, 
                class: 'numeric decimal optional form-control',
                placeholder: t('boskop.secondary_line') %>
          <div class="input-group-addon">
            <%= Boskop.bandwith_base_unit %> 
          </div>
         </div>
        </div>
      </div>

      <%= f.association :framework_contract
       %>
      <%= f.input :contract_start, 
            as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :contract_end,
            as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :contract_period,
            placeholder: t('boskop.describe_contract_period')
       %>

      <div class="row-fluid">
        <%= f.input :period_of_notice do %>
          <%= f.text_field :period_of_notice,
                           class: "form-control autowidth col-sm-3" %>
          <%= f.select     :period_of_notice_unit, Boskop::PERIOD_UNITS,
                           {}, {class: "form-control autowidth col-sm-3"} %>
        <% end %>
      </div>
      <div class="row-fluid">
        <%= f.input :renewal_period do %>
          <%= f.text_field :renewal_period,
                           class: "form-control autowidth col-sm-3" %>
          <%= f.select     :renewal_unit, Boskop::PERIOD_UNITS,
                           {}, {class: "form-control autowidth col-sm-3"} %>
      
        <% end %> 
      </div>
      <%= f.association :line_state
       %>
    </div>

    <div class="form-actions col-sm-9 col-sm-offset-3">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>
