<div data-controller="datatables">
  <table id="lines" class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('attributes.name') %></th>
      <th><%= t('attributes.description') %></th>
      <th><%= t('attributes.notes') %></th>
      <th><%= t('attributes.provider_id') %></th>
      <th><%= t('attributes.location_a') %></th>
      <th class="notvisible"><%= t('attributes.location_b') %></th>
      <th><%= t('attributes.access_type') %></th>
      <th><%= t('attributes.bandwith_primary') %> <%= Boskop.bandwith_base_unit %></th>
      <th><%= t('attributes.bandwith_secondary') %> <%= Boskop.bandwith_base_unit %></th>
      <% unless @framework_contract %>
        <th><%= t('attributes.framework_contract') %></th>
      <% end %>
      <th><%= t('attributes.contract_start') %></th>
      <th><%= t('attributes.contract_end') %></th>
      <th><%= t('attributes.contract_period') %><br />
          <%= t('attributes.period_of_notice') %><br />
          <%= t('attributes.renewal_period') %></th>
      <th><%= t('attributes.line_state') %></th>
      <th><%= t('attributes.active') %></th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <% unless @framework_contract %>
        <th></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>

  <tbody>

  <% lines.each do |line| %>
    <%= content_tag_for(:tr, line) do %>
      <td><%= link_to line.name, line_path(line) %></td>
      <td><%= line.description %></td>
      <td><%= line.notes %></td>
      <td><%= line.provider_id %></td>
      <td><%= link_to_attribute(line, :location_a) %></td>
      <td><%= link_to_attribute(line, :location_b) %></td>
      <td><%= line.access_type %></td>
      <td><%= bandwith(line) %></td>
      <td><%= bandwith2(line) %></td>
      <% unless @framework_contract %>
        <td><%= link_to_attribute(line, :framework_contract) %></td>
      <% end %>
      <td><%= line.contract_start %></td>
      <td><%= line.contract_end %></td>
      <td><%= line.contract_period %> <br />
          <%= line.period_of_notice %> <%= line.period_of_notice_unit %> <br />
          <%= line.renewal_period %> <%= line.renewal_unit %></td>
      <td><%= line.line_state %></td>
      <td><%= line.line_state&.active %></td>
      <td class="nowrap">
        <%= show_link [@framework_contract, line] %>
        <%= edit_link [@framework_contract, line] %>
        <%= delete_link [@framework_contract, line] %>
      </td>
    <% end %>
  <% end %>
  </tbody>
  </table>
</div>
