<h1><%= t('controller.lines') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.name') %></th>
    <th><%= t('attributes.description') %></th>
    <th><%= t('attributes.notes') %></th>
    <th><%= t('attributes.provider_id') %></th>
    <th><%= t('attributes.lid') %> A</th>
    <th><%= t('attributes.location_a') %></th>
    <th><%= t('attributes.lid') %> B</th>
    <th><%= t('attributes.location_b') %></th>
    <th><%= t('attributes.access_type') %></th>
    <th><%= t('attributes.bw_upstream') %> <%= Boskop.bandwith_base_unit %></th>
    <th><%= t('attributes.bw_downstream') %> <%= Boskop.bandwith_base_unit %></th>
    <th><%= t('attributes.bw2_upstream') %> <%= Boskop.bandwith_base_unit %></th>
    <th><%= t('attributes.bw2_downstream') %> <%= Boskop.bandwith_base_unit %></th>
    <th><%= t('attributes.framework_contract') %></th>
    <th><%= t('attributes.contract_start') %></th>
    <th><%= t('attributes.contract_end') %></th>
    <th><%= t('attributes.contract_period') %></th>
    <th><%= t('attributes.period_of_notice') %></th>
    <th><%= t('attributes.renewal_period') %></th>
    <th><%= t('attributes.line_state') %></th>
    <th></th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</tfoot>

<tbody>

<% @lines.each do |line| %>
  <%= content_tag_for(:tr, line) do %>
    <td><%= line.name %></td>
    <td><%= line.description %></td>
    <td><%= line.notes %></td>
    <td><%= line.provider_id %></td>
    <td><%= line.location_a.try(:lid) %></td>
    <td><%= line.location_a %></td>
    <td><%= line.location_b.try(:lid) %></td>
    <td><%= line.location_b %></td>
    <td><%= line.access_type %></td>
    <td><%= line.bw_upstream %></td>
    <td><%= line.bw_downstream %></td>
    <td><%= line.bw2_upstream %></td>
    <td><%= line.bw2_downstream %></td>
    <td><%= line.framework_contract %></td>
    <td><%= line.contract_start %></td>
    <td><%= line.contract_end %></td>
    <td><%= line.contract_period %></td>
    <td><%= line.period_of_notice %> <%= line.period_of_notice_unit %></td>
    <td><%= line.renewal_period %> <%= line.renewal_unit %></td>
    <td><%= line.line_state %></td>
    <td class="nowrap">
      <%= show_link line %>
      <%= edit_link line %>
      <%= delete_link line %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link Line %>
