<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= @line.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.description')%>:</th>
    <td><%= @line.description %></td>
  </tr>
  <tr>
    <th><%= t('attributes.provider_id')%>:</th>
    <td><%= @line.provider_id %></td>
  </tr>
  <tr>
    <th><%= t('attributes.location_a_id')%>:</th>
    <td><%= @line.location_a_id %></td>
  </tr>
  <tr>
    <th><%= t('attributes.location_b_id')%>:</th>
    <td><%= @line.location_b_id %></td>
  </tr>
  <tr>
    <th><%= t('attributes.access_type')%>:</th>
    <td><%= @line.access_type %></td>
  </tr>
  <tr>
    <th><%= t('attributes.bw_upstream')%>:</th>
    <td><%= @line.bw_upstream %></td>
  </tr>
  <tr>
    <th><%= t('attributes.bw_downstream')%>:</th>
    <td><%= @line.bw_downstream %></td>
  </tr>
  <tr>
    <th><%= t('attributes.framework_contract')%>:</th>
    <td><%= @line.framework_contract %></td>
  </tr>
  <tr>
    <th><%= t('attributes.contract_start')%>:</th>
    <td><%= @line.contract_start %></td>
  </tr>
  <tr>
    <th><%= t('attributes.contract_end')%>:</th>
    <td><%= @line.contract_end %></td>
  </tr>
  <tr>
    <th><%= t('attributes.contract_period')%>:</th>
    <td><%= @line.contract_period %></td>
  </tr>
  <tr>
    <th><%= t('attributes.period_of_notice')%>:</th>
    <td><%= @line.period_of_notice %></td>
  </tr>
  <tr>
    <th><%= t('attributes.period_of_notice_unit')%>:</th>
    <td><%= @line.period_of_notice_unit %></td>
  </tr>
  <tr>
    <th><%= t('attributes.renewal_period')%>:</th>
    <td><%= @line.renewal_period %></td>
  </tr>
  <tr>
    <th><%= t('attributes.renewal_unit')%>:</th>
    <td><%= @line.renewal_unit %></td>
  </tr>
  <tr>
    <th><%= t('attributes.line_state')%>:</th>
    <td><%= @line.line_state %></td>
  </tr>
</table>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
  <%= edit_link(@line) %>
  <%= delete_link(@line) %>
  <%= new_link Line %>
</div>
