<div class="card">
  <div class="card-header">
    <h2>
      <%= t('attributes.host_category') %>:
      <%= @host_category.name %>
    </h2>
  </div>
  <div class="card-body">
    <table class="table table-condensed table-hover ">
      </tr>
      <tr>
	<th><%= t('attributes.tag')%>:</th>
	<td class="w-100"><%= @host_category.tag %></td>
      </tr>
      <tr>
	<th><%= t('attributes.description')%>:</th>
	<td><%= @host_category.description %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@host_category) %>
      <%= delete_link(@host_category) %>
      <%= new_link HostCategory %>
    </div>
  </div>
</div>
