<div class="container">
  <%= simple_form_for(@merkmal,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :merkmalfor_id, as: :hidden %>
      <%= f.input :merkmalfor_type, as: :hidden %>

      <div class="row mb-3">
        <%= label_tag :merkmalfor, "Merkmal für", :class => "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= text_field_tag "info_merkmalfor", 
              "#{@merkmal.merkmalfor_type}: #{@merkmal.merkmalfor.to_s}",
              { :class => 'input form-control', disabled: true } %>
        </div>
      </div>

      <%= f.association :merkmalklasse
       %>
      <%= f.input :value
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
<% end %>
</div>
