<div class="card">
  <div class="card-header">
    <h2>
      <%= t('attributes.merkmalfor') %>:
      <%= @merkmal.merkmalfor.to_s %>
    </h2>
  </div>
  <div class="card-body">

    <table class="table table-hover">
      <tr>
	<th><%= t('attributes.merkmalklasse')%>:</th>
	<td class="w-100"><%= @merkmal.merkmalklasse %></td>
      </tr>
      <tr>
	<th><%= t('attributes.value')%>:</th>
	<td><%= @merkmal.value %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@merkmal) %>
      <%= delete_link(@merkmal) %>
      <%= new_link Merkmal %>
    </div>
  </div>
</div>
