<div class="container">
  <%= simple_form_for(@operating_system,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>  
    <div class="card-body">

      <%= f.input :name
       %>
      <%= f.input :eol, as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :matching_pattern
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
