<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.netzwerk') %></th>
    <th><%= t('attributes.name') %></th>
    <th><%= t('attributes.description') %></th>
    <%= content_tag_for(:th, @networkmerkmalklassen) do |mklasse| %>
      <%= mklasse.to_s %>
    <% end %>
    <th></th>
  </tr>
</thead>

<tbody>
<% networks.each do |network| %>
  <%= content_tag_for(:tr, network) do %>
    <td><%= network.netzwerk.try(:to_cidr_s) %></td>
    <td><%= network.name %></td>
    <td><%= network.description %></td>
    <%= content_tag_for(:td, @networkmerkmalklassen) do |mklasse| %>
      <%= get_location_merkmal(network, mklasse) %>
    <% end %>

    <td class="nowrap">
      <%= show_link network %>
      <%= edit_link network %>
      <%= delete_link network %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>
