<% content_for :head do %>
  <meta name="turbos-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.networks') %></h1>

<%= content_tag :table, role: :remotetable,
      id: 'networks',
      class: "table table-bordered",
      data: {
        url: polymorphic_path(:networks, format: :json, filter: @filter),
        order: [[0, 'desc']].to_json
      } do %>

  <thead>
    <tr>
      <th><%= t('attributes.netzwerk') %></th>
      <th><%= t('attributes.description') %></th>
      <th><%= t('attributes.lid') %></th>
      <th><%= t('attributes.location') %></th>
      <th><%= t('attributes.ort') %></th>
      <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
        <%= mklasse.to_s %>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
      <% end %>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
<% end %>

<br />

<%= back_link %>
<%= new_link Network %>
<%= link_to t('actions.search'), search_form_networks_path, class: 'btn btn-secondary' %>
<%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-secondary" %>

