<h1><%= t('controller.networks') %></h1>

<div data-controller="datatables">
  <table id="networks_usage" class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('boskop.subnet') %></th>
      <th><%= t('boskop.used_networks') %></th>
      <th><%= t('boskop.network_mask') %></th>
      <th><%= t('attributes.lid') %></th>
      <th><%= t('attributes.location') %></th>
      <th><%= t('attributes.description') %></th>
      <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
        <%= mklasse.to_s %>
      <% end %>
      <th><%= t('boskop.sort_helper') %></th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
      <% end %>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>

  <tbody>

  <% @subnets.each_pair do |subnet,networks| %>
    <% networks.each_with_index do |used,idx| %>
      <tr>
        <td><%= subnet %></td>
        <td><%= link_to "#{used.netzwerk.to_cidr_s}", network_path(used) %></td>
        <td>/<%= used.netzwerk.to_cidr_mask %> </td>
        <td><%= used.location.try(:lid) %> </td>
        <td><%= used.location.try(:name) %> </td>
        <td><%= used.description %> </td>
        <%= content_tag_for(:td, @merkmalklassen) do |mklasse| %>
          <%= get_location_merkmal(used, mklasse) %>
        <% end %>
        <td><%= sortable_network(subnet) %></td>
        <td class="center">
          <% if can? :create, Network %>
            <%= link_to icon_new, new_network_path(netzwerk: subnet),
                        title: t('boskop.new_network'), 
                        class: 'btn btn-secondary'  %>
          <% end %>
       </td>

      </tr>
    <% end.empty? and begin %>
    <tr>
      <td><%= subnet %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <%= content_tag_for(:td, @merkmalklassen) do |mklasse| %>
      <% end %>
      <td><%= sortable_network(subnet) %></td>
      <td class="center">
        <% if can? :create, Network %>
          <%= link_to icon_new, new_network_path(netzwerk: subnet),
                      title: t('boskop.new_network'), 
                      class: 'btn btn-secondary'  %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
</div>

<br />

<%= back_link %>
<%= new_link Network %>
<%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-secondary" %>

