<div class="container">
  <%= form_tag(usage_networks_path, role: "form",
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('boskop.usage_map') %></legend>
    </div>
    <div class="card-body">
      <div class="row mb-3">
	<label for="cidr" class="col-sm-2 col-form-label">
	  <%= t('attributes.netzwerk') %>
	</label>
	<div class="col-sm-10">
	  <input type="text" class="form-control" id="cidr" name="cidr" 
                 pattern="[0-9]{0,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}(|/[0-9]{1,2})"
		 placeholder="<%= t('boskop.cidr_example') %>">
	</div>
      </div>

      <div class="row mb-3">
	<label for="mask" class="col-sm-2 col-form-label">
	  <%= t('attributes.cidr_mask') %>
	</label>
	<div class="col-sm-10">
	  <input type="text" class="form-control" id="mask" name="mask"
                 pattern="([1-9]|[12][0-9]|3[0-2])"
		 placeholder="<%= t('boskop.mask_example') %>">
	</div>
      </div>

      <div class="row mb-3">
	<div class="offset-sm-2 col-sm-10">
	  <div class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" id="exact_match" name="exact_match">
	    <label class="form-check-label" for="exact_match">
	      <%= t('attributes.exact_match') %>
	    </label>
	  </div>
	</div>
      </div>

      <div class="row mb-3">
	<div class="offset-sm-2 col-sm-10">
	  <button type="submit" class="btn btn-primary"><%= t('actions.search') %></button>
	  <%= cancel_button %>
	</div>
      </div>

    </div>
  <% end %>
</div>
