<div class="container">
  <%= simple_form_for(@software_category,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
	 %>
      <%= f.input :description
	 %>
      <%= f.input :main_business_process
	 %>

      <div class="form-group row">
        <%= f.label :software_group, class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= f.select :software_group_id,
                collection_select_option_with_title(SoftwareGroup.all),
                { include_blank: true }, 
                {
                  class: "form-control" ,
                }
           %>
        </div>
      </div>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
