<div class="modal fade" id="softwareCategoryModal" tabindex="-1" role="dialog" aria-labelledby="softwareCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="softwareCategoryModalLabel">
          <%= t('actions.add', model: t('activerecord.models.software_category')) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(software_category,
          remote: true,
	  html: { class: 'form-horizontal' }) do |f| %>
	<div class="modal-body">
	  <%= f.input :name %>
	  <%= f.input :description %>
          <%= f.input :main_business_process %>

          <div class="form-group row">
            <%= f.label :software_group, class: "col-sm-3 col-form-label" %>
            <div class="col-sm-9">
              <%= f.select :software_group_id,
                    collection_select_option_with_title(SoftwareGroup.all),
                    { include_blank: true },
                    { 
                      class: "form-control" ,
                    }
               %>
            </div>
          </div>
	</div>

	<div class="modal-footer">
          <div class="infomsg"></div>
	  <%= f.button :submit, class: 'btn btn-primary' %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

	</div>
      <% end %>
    </div>
  </div>
</div>
