<div class="card">
  <div class="card-header">
    <h6 class="subtitle"><%= t('activerecord.models.software_category') %></h6>
    <h4 class="title"><%= @software_category.name %></h4>
  </div>
  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-25 text-left"><%= t('attributes.name')%>:</th>
        <td><%= @software_category.name %></td>
      </tr>
    
      <tr>
        <th class="w-25 text-left"><%= t('attributes.description')%>:</th>
        <td><%= @software_category.description %></td>
      </tr>
    
      <tr>
        <th class="w-25 text-left"><%= t('attributes.main_business_process')%>:</th>
        <td><%= @software_category.main_business_process %></td>
      </tr>
    
      <tr>
        <th class="w-25 text-left"><%= t('attributes.software_group')%>:</th>
        <td><%= @software_category.software_group %></td>
      </tr>
    
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@software_category) %>
      <%= delete_link(@software_category) %>
      <%= new_link SoftwareCategory %>
    </div>
  </div>
</div>

<br />  

<h4><%= t('attributes.software') %></h4>
<%= render partial: 'software', locals: {software: @software_category.software} %>

<br />
<%= new_link Software %>

