<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= @access_type.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.description')%>:</th>
    <td><%= @access_type.description %></td>
  </tr>
</table>

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@access_type) %>
  <%= delete_link(@access_type) %>
  <%= new_link AccessType %>
</div>
