<div class="container">
  <%= simple_form_for(@host,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :ip, as: :string
       %>
      <%= f.input :name
       %>
      <%= f.input :description
       %>
      <%= f.input :cpe
       %>
      <%= f.input :raw_os
       %>
      <%= f.association :operating_system,
            input_html: { class: 'select2' }
       %>
      <%= f.input :fqdn
       %>
      <%= f.input :domain_dns
       %>
      <%= f.input :workgroup
       %>
      <%= f.input :lastseen, as: :string
       %>
      <%= f.input :mac
       %>
      <%= f.input :serial
       %>
      <%= f.input :vendor
       %>
      <%= f.association :host_category,
            input_html: { class: 'select2' }
       %>
      <%= f.association :location,
            label_method: :to_str,
            input_html: { class: 'select2' }
       %>
      </div>

      <div class="card-header">
        <%= I18n.t('controller.merkmale') %>
      </div>
      <div class="card-body">
        <%= render 'merkmale/merkmal_form', f: f, merkmale: @host.merkmale %>
      </div>

      <div class="card-body">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
