<% merkmalklassen = Merkmalklasse.includes(:merkmale).visibles(:host, 'index') %>
<%= content_tag :table, role: :datatable,
      id: 'hosts_table',
      class: "table table-bordered table-striped",
      data: {
        order: [[0, 'desc']].to_json
      } do %>

  <thead>
    <tr>
      <th><%= t('attributes.name') %></th>
      <th><%= t('attributes.description') %></th>
      <th><%= t('attributes.ip') %></th>
      <th><%= t('attributes.operating_system') %></th>
      <th class="notvisible"><%= t('attributes.cpe') %></th>
      <th class="notvisible"><%= t('attributes.raw_os') %></th>
      <th><%= t('attributes.fqdn') %></th>
      <th class="notvisible"><%= t('attributes.domain_dns') %></th>
      <th><%= t('attributes.workgroup') %></th>
      <th><%= t('attributes.lastseen') %></th>
      <th class="notvisible"><%= t('attributes.mac') %></th>
      <th class="notvisible"><%= t('attributes.vendor') %></th>
      <th><%= t('attributes.host_category') %></th>
      <th><%= t('attributes.location') %></th>
      <%= content_tag_for(:th, merkmalklassen) do |mklasse| %>
        <%= mklasse.to_s %>
      <% end %>
      <th>Aktion</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%= content_tag_for(:th, merkmalklassen) do |mklasse| %>
      <% end %>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
<% hosts.each do |host| %>
  <%= content_tag_for(:tr, host) do %>
    <td><%= host.name %></td>
    <td><%= host.description %></td>
    <td><%= host.ip.to_s %></td>
    <td><%= host.operating_system.to_s %></td>
    <td><%= host.cpe %></td>
    <td><%= host.raw_os %></td>
    <td><%= host.fqdn %></td>
    <td><%= host.domain_dns %></td>
    <td><%= host.workgroup %></td>
    <td><%= host.lastseen %></td>
    <td><%= host.mac %></td>
    <td><%= host.vendor %></td>
    <td><%= host.host_category.to_s %></td>
    <td><%= host.location&.lid %></td>
    <%= content_tag_for(:td, merkmalklassen) do |mklasse| %>
      <%= get_merkmal(host, mklasse) %>
    <% end %>
    <td class="nowrap">
      <%= show_link host %>
      <%= edit_link host %>
      <%= delete_link host %>
    </td>
  <% end %>
<% end %>

  </tbody>
<% end %>
