<div class="container">
  <%= form_tag(import_hosts_path, role: "form",
        multipart: true,
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('boskop.import_host_file') %></legend>
    </div>
    <div class="card-body">


      <div class="form-group row">
	<label for="file" class="col-sm-2 col-form-label">
	  <%= t('attributes.file') %>
	</label>
	<div class="col-sm-9">
	  <input type="file" class="form-control" id="file" name="file" 
		 placeholder="<%= t('boskop.import_host_file') %>">
	</div>
      </div>

      <div class="form-group row">
	<label for="type" class="col-sm-2 col-form-label">
	  <%= t('attributes.type') %>
	</label>
	<div class="col-sm-9">
	  <select type="text" class="form-control" id="type" name="type">
	    <%= options_for_select([["CSV", "csv"], ["XML", "xml"]]) %>
	  </select>
	</div>
      </div>

      <div class="form-group row">
	<label for="update" class="col-sm-2 col-form-label">
	  <%= t('attributes.update') %>
	</label>
	<div class="col-sm-9">
	  <select type="text" class="form-control" id="update" name="update">
	    <%= options_for_select([["None", "none"], ["Newer", "newer"], ["Missing", "missing"]]) %>
	  </select>
	</div>
      </div>

      <div class="form-group row">
	<div class="offset-sm-2 col-sm-9">
	  <button type="submit" class="btn btn-primary"><%= t('actions.upload') %></button>

	  <%= cancel_button %>
	</div>
      </div>
    </div>
  <% end %>
</div>
