<div class="container">
  <%= form_tag(search_hosts_path, role: "form",
        class: 'form-horizontal card') do |f| %>

    <div class="card-header">
      <legend class="offset-sm-2 col-sm-10"><%= t('boskop.search_hosts') %></legend>
    </div>
    <div class="card-body">

      <div class="form-group row">
	<label for="ip" class="col-sm-2 col-form-label"><%=t('attributes.ip')%></label>
	<div class="col-sm-10">
	  <input class="form-control" id="ip" name="ip" placeholder="IP address or CIDR network">
	</div>
      </div>

      <div class="form-group row">
	<label for="name" class="col-sm-2 col-form-label"><%=t('attributes.name')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="name" id="name" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="description" class="col-sm-2 col-form-label"><%=t('attributes.description')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="description" id="description" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="operating_system" class="col-sm-2 col-form-label"><%=t('attributes.operating_system')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="operating_system" id="operating_system" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="cpe" class="col-sm-2 col-form-label"><%=t('attributes.cpe')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="cpe" id="cpe" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="raw_os" class="col-sm-2 col-form-label"><%=t('attributes.raw_os')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="raw_os" id="raw_os" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="mac" class="col-sm-2 col-form-label"><%=t('attributes.mac')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="mac" id="mac" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="serial" class="col-sm-2 col-form-label"><%=t('attributes.serial')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="serial" id="serial" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="uuid" class="col-sm-2 col-form-label"><%=t('attributes.uuid')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="uuid" id="uuid" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="fqdn" class="col-sm-2 col-form-label"><%=t('attributes.fqdn')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="fqdn" id="fqdn" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="domain_dns" class="col-sm-2 col-form-label"><%=t('attributes.domain_dns')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="domain_dns" id="domain_dns" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="workgroup" class="col-sm-2 col-form-label"><%=t('attributes.workgroup')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="workgroup" id="workgroup" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="vendor" class="col-sm-2 col-form-label"><%=t('attributes.vendor')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="vendor" id="vendor" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="product" class="col-sm-2 col-form-label"><%=t('attributes.product')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="product" id="product" placeholder="">
	</div>
      </div>

      <div class="form-group form-row">
	<label for="warranty_start" class="col-sm-2 col-form-label"><%=t('attributes.warranty_start')%></label>
	<div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&geq;</div>
          </div>
	  <input class="form-control datepicker" name="warranty_start_from" id="warranty_start_from" autocomplete="off" placeholder="<%= t('attributes.warranty_start_from')%>">
        </div>
	<div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&leq;</div>
          </div>
	  <input class="form-control datepicker" name="warranty_start_until" id="warranty_start_until" autocomplete="off" placeholder="<%= t('attributes.warranty_start_until')%>">
	</div>
      </div>

      <div class="form-group form-row">
	<label for="lastseen" class="col-sm-2 col-form-label"><%=t('attributes.lastseen')%></label>
	<div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&geq;</div>
          </div>
	  <input class="form-control datepicker" name="newer" id="newer" autocomplete="off" placeholder="<%= t('attributes.newer')%>">
        </div>
	<div class="input-group col-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">&leq;</div>
          </div>
	  <input class="form-control datepicker" name="older" id="older" autocomplete="off" placeholder="<%= t('attributes.older')%>">
	</div>
      </div>

      <div class="form-group row">
	<label for="created_at" class="col-sm-2 col-form-label"><%=t('attributes.created_at')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="created_at" id="created_at" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="host_category" class="col-sm-2 col-form-label"><%=t('attributes.host_category')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="host_category" id="host_category" placeholder="">
	</div>
      </div>

      <div class="form-group row">
	<label for="lid" class="col-sm-2 col-form-label"><%=t('attributes.lid')%></label>
	<div class="col-sm-10">
          <%= select_tag "lid",
                options_from_collection_for_select(Location.current, 'lid', 'to_str'),
                multiple: true,
                include_blank: true,
                class: 'form-control select2'
           %>
	</div>
      </div>

      <div class="form-group row">
	<label for="limit" class="col-sm-2 col-form-label"><%=t('attributes.limit')%></label>
	<div class="col-sm-10">
	  <input class="form-control" name="limit" id="limit" value="1000" placeholder="">
	</div>
      </div>

      <hr />

      <div class="form-group row">
	<div class="col-sm-2">
	  Shortcuts
	</div>
	<div class="col-sm-10">
	  <div class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" id="current" name="current" checked>
	    <label class="form-check-label" for="current">
	      <%=t('attributes.current')%>
	    </label>
	  </div>
	  <div class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" id="eol" name="eol">
	    <label class="form-check-label" for="eol">
	      <%=t('attributes.eol')%>
	    </label>
	  </div>
	  <div class="form-check form-check-inline">
	    <input class="form-check-input" type="checkbox" id="vuln_risk" name="vuln_risk" value="higher">
	    <label class="form-check-label" for="vuln_risk">
	      <%=t('boskop.critical_hosts')%>
	    </label>
	  </div>
	</div>
      </div>

      <hr />

      <div class="form-group row">
	<div class="col-sm-10 offset-sm-2">
	  <%= submit_tag(t('boskop.search_hosts'),
                class: 'btn btn-primary') %>
          <% if can? :csv, Host %>
	    <%= submit_tag(t('boskop.csv_export'),
                  name: 'commit', class: 'btn btn-primary',
                  formaction: search_hosts_path(format: :csv)) %>
          <% end %>
	  <%= cancel_button %>
	</div>
      </div>
    </div>
  <% end %>
</div>
