<div class="card">
  <div class="card-header">
    <h2>
      <%= t('attributes.host') %>:
      <%= @host.to_s %>
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
	<table class="table table-bordered table-hover">
	  <caption> <%= t('activerecord.models.host') %> </caption>
	  <tr>
	    <th class="w-25"><%= t('attributes.description')%>:</th>
	    <td class="w-25"><%= @host.description %></td>
	    <th><%= t('attributes.host_category')%>:</th>
	    <td><%= @host.host_category.to_s %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.domain_dns')%>:</th>
	    <td><%= @host.domain_dns %></td>
	    <th class="w-25"><%= t('attributes.workgroup')%>:</th>
	    <td class="w-25"><%= @host.workgroup %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.operating_system')%>:</th>
	    <td><%= @host.operating_system %></td>
	    <th>
              <%= t('attributes.mac')%>:<br/>
              <%= t('attributes.oui_vendor')%>:</th>
	    <td>
              <%= @host.mac %> <br/>
              <%= @host.oui_vendor %>
            </td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.raw_os')%>:</th>
	    <td><%= @host.raw_os %></td>
	    <th><%= t('attributes.cpe')%>:</th>
	    <td><%= @host.cpe %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.vendor')%>:</th>
	    <td><%= @host.vendor %></td>
	    <th><%= t('attributes.product')%>:</th>
	    <td><%= @host.product %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.serial')%>:</th>
	    <td><%= @host.serial %></td>
	    <th><%= t('attributes.uuid')%>:</th>
	    <td><%= @host.uuid %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.fqdn')%>:</th>
	    <td><%= @host.fqdn %></td>
	    <th><%= t('attributes.location')%>:</th>
	    <td><%= @host.location.try(:lid) %></td>
	  </tr>
	  <tr>
	    <th>
              <%= t('attributes.lastseen')%>:<br/>
              <%= t('attributes.created_at')%>:
            </th>
	    <td>
              <%= @host.lastseen %> <br/>
              <%= @host.created_at.to_date %>
            </td>
	    <th><%= t('attributes.vuln_risk')%>:</th>
	    <td><%= risk_button(@host.vuln_risk) %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.warranty_sla')%>:</th>
	    <td><%= @host.warranty_sla %></td>
	    <th>
              <%= t('attributes.warranty_start')%>:<br/>
              <%= t('attributes.warranty_end')%>:</th>
	    <td>
              <%= @host.warranty_start %> <br/>
              <%= @host.warranty_end %>
            </td>
	  </tr>

	  <%= render partial: 'merkmale/list', locals: { merkmale: @host.merkmale } %>
	</table>
      </div>
      <div class="col-sm-3">
	<table class="table table-bordered table-hover">
	  <caption> <%= t('controller.vulnerabilities') %> </caption>
	  <tr>
	    <th><%= t('boskop.threats.critical')%>:</th>
	    <td><%= @host.vulnerabilities.critical.count %></td>
	  </tr>
	  <tr>
	    <th><%= t('boskop.threats.high')%>:</th>
	    <td><%= @host.vulnerabilities.high.count %></td>
	  </tr>
	  <tr>
	    <th><%= t('boskop.threats.medium')%>:</th>
	    <td><%= @host.vulnerabilities.medium.count %></td>
	  </tr>
	  <tr>
	    <th><%= t('boskop.threats.low')%>:</th>
	    <td><%= @host.vulnerabilities.low.count %></td>
	  </tr>
	  <tr>
	    <th><%= t('boskop.threats.all')%>:</th>
	    <td><%= @host.vulnerabilities.count %></td>
	  </tr>
	</table>
      </div>
    </div>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@host) %>
      <%= delete_link(@host) %>
      <%= new_link Host %>
      <%= link_to t('boskop.all_host_vulns'), host_vulnerabilities_path(@host), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<br/>

<h3 id="host_network_interfaces" class="mb-3"><%=t('controller.network_interfaces')%></h3>

<%= render partial: 'network_interfaces/list', 
	   locals: {network_interfaces: @host.network_interfaces}
 %>

<%= new_link [@host, NetworkInterface] %>

<div class="mb-3"></div>

<h3 id="host_vulnerabilities" class="mb-3"><%= t('controller.vulnerabilities') %> (<%= t('boskop.threats.critical') %>)</h3>

<%= render partial: 'vulnerabilities/list', 
	   locals: {vulnerabilities: @host.vulnerabilities.current.higher}
 %>

<div class="mb-3"></div>

<h3 id="host_software" class="mb-3"><%= t('controller.software') %></h3>

<%= render partial: 'software/list', 
	   locals: {host_software: @host.software.distinct}
 %>

