<ul class="nav navbar-nav">
  <% if can? :navigate, :org_units %>
    <li class="dropdown <%= orgunits_active_class %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('boskop.nodes') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li> <%=link_to t('boskop.org_units'), main_app.org_units_path %></li>
        <li> <%=link_to t('boskop.locations'), main_app.locations_path %></li>
      </ul>
    </li>
  <% end %>
  <% if can? :read, :networks %>
    <li class="dropdown <%= active_class('networks') %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('controller.networks') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('controller.networks')), main_app.networks_path %></li>
        <% if can? :create, Network %>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('boskop.new_network')), main_app.new_network_path %></li>
        <% end %>
        <li class="divider"></li>
        <li> <%=link_to raw('<span class="glyphicon glyphicon-search" aria-hidden="true"></span> '+t('boskop.search')), main_app.search_networks_path %></li>
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('boskop.usage_map')), main_app.usage_form_networks_path %></li>
      </ul>
    </li>
  <% end %>
  <% if can? :read, :lines %>
    <li class="dropdown <%= active_class('lines') %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('controller.lines') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('controller.lines')), main_app.lines_path %></li>
        <% if can? :create, Network %>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('boskop.new_line')), main_app.new_line_path %></li>
        <% end %>
        <li class="divider"></li>
        <li> <%=link_to raw('<span class="glyphicon glyphicon-search" aria-hidden="true"></span> '+t('boskop.search')), main_app.search_lines_path %></li>
      </ul>
    </li>
  <% end %>
  <% if can? :read, :hosts %>
    <li class="dropdown <%= active_class('hosts') %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('controller.hosts') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('controller.hosts')), main_app.hosts_path %></li>
        <li> <%=link_to raw('<span class="glyphicon glyphicon-warning-sign aria-hidden="true"></span> '+t('boskop.eol_systems')), main_app.search_hosts_path(eol: 1, limit: 1000, current: 1) %></li>
        <% if can? :create, Host %>
          <li class="divider"></li>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('boskop.new_host')), main_app.new_host_path %></li>
          <% end %>
          <% if can? :manage, Host %>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-file" aria-hidden="true"></span> '+t('boskop.import_host_file')), main_app.new_import_hosts_path %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if can? :read, :vulnerabilities %>
    <li class="dropdown <%= active_class('hosts') %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('controller.vulnerabilities') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('controller.vulnerabilities')), main_app.vulnerabilities_path %></li>
        <li> <%=link_to raw('<span class="glyphicon glyphicon-th" aria-hidden="true"></span> '+t('controller.vulnerability_details')), main_app.vulnerability_details_path %></li>
        <% if can? :create, Vulnerability %>
          <li class="divider"></li>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('boskop.new_vulnerability')), main_app.new_vulnerability_path %></li>
          <% end %>
          <% if can? :manage, Host %>
          <li> <%=link_to raw('<span class="glyphicon glyphicon-file" aria-hidden="true"></span> '+t('boskop.import_openvas_file')), main_app.new_import_vulnerabilities_path %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if can? :navigate, :configuration %>
    <li class="dropdown <%= configuration_active_class %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= t('boskop.configuration') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% Boskop::CONFIGURATION_CONTROLLER.each do |ctrlr| %>
          <li>
            <%=link_to t('controller.' + ctrlr), main_app.send("#{ctrlr}_path")%>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
