<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render partial: 'software_categories/modal_form',
           locals: { software_category: SoftwareCategory.new } %>

<div class="container">
  <%= simple_form_for(@software,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
	 %>

      <div class="form-group row">
        <label for="pattern" class="col-sm-3 col-form-label">
          <%= t('attributes.pattern') %>
        </label>
        <div class="col-sm-9">
          <div class="card">
           <div class="card-body bg-light">
            <% @software.patterns.each_with_index do |subpattern,idx| %>
              <%= render 'pattern_fields', pattern: subpattern, idx: idx %>
            <% end %>
           </div>
          </div>
        </div>
      </div>


      <%= f.input :vendor
	 %>
      <%= f.input :description
	 %>
      <%= f.input :minimum_allowed_version
	 %>
      <%= f.input :maximum_allowed_version
	 %>
      <%= f.input :green, as: :string,
                  wrapper: :horizontal_date
	 %>
      <%= f.input :yellow, as: :string,
                  wrapper: :horizontal_date
	 %>
      <%= f.input :red, as: :string,
                  wrapper: :horizontal_date
	 %>
      <div class="form-group row">
        <%= f.label :software_category, class: "col-sm-3 col-form-label" %>
        <div class="col-sm-8">
          <%= f.select :software_category_id,
                SoftwareCategory.all.collect {|s| [s.name, s.id]},
                {include_blank: true}, { class: "select2 form-control" }
           %>
        </div>

        <div class="col-sm-1">
          <button type="button" id="addSoftwareCategoryButton" 
                  class="btn btn-outline-secondary float-right"
                  data-toggle="modal" data-target="#softwareCategoryModal"
                  title="<%= t('boskop.add_new_software_category') %>"
                  <%= "disabled" unless can? :create, SoftwareCategory %>
           ><%= icon_new %></button>
        </div>
      </div>


      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
