<div class="container">
  <%= simple_form_for(@software,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
	 %>
      <%= f.input :pattern
	 %>
      <%= f.input :vendor
	 %>
      <%= f.input :description
	 %>
      <%= f.input :minimum_allowed_version
	 %>
      <%= f.input :maximum_allowed_version
	 %>
      <%= f.input :green, as: :string,
                  wrapper: :horizontal_date
	 %>
      <%= f.input :yellow, as: :string,
                  wrapper: :horizontal_date
	 %>
      <%= f.input :red, as: :string,
                  wrapper: :horizontal_date
	 %>
      <%= f.association :software_category, 
                  input_html: { class: 'select2'}
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
