<h1><%= t('controller.contacts') %></h1>

<table id="dataTable" class="table table-bordered table-striped" role="datatable">
<thead>
  <tr>
    <th><%= t('attributes.sn') %></th>
    <th><%= t('attributes.givenname') %></th>
    <th><%= t('attributes.displayname') %></th>
    <th><%= t('attributes.title') %></th>
    <th><%= t('attributes.anrede') %></th>
    <th><%= t('attributes.position') %></th>
    <th><%= t('attributes.streetaddress') %></th>
    <th><%= t('attributes.plz') %></th>
    <th><%= t('attributes.ort') %></th>
    <th><%= t('attributes.postfach') %></th>
    <th><%= t('attributes.postfachplz') %></th>
    <th><%= t('attributes.care_of') %></th>
    <th><%= t('attributes.telephone') %></th>
    <th><%= t('attributes.telefax') %></th>
    <th><%= t('attributes.mobile') %></th>
    <th><%= t('attributes.mail') %></th>
    <th><%= t('attributes.internet') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @contacts.each do |contact| %>
  <%= content_tag_for(:tr, contact) do %>
    <td><%= contact.sn %></td>
    <td><%= contact.givenname %></td>
    <td><%= contact.displayname %></td>
    <td><%= contact.title %></td>
    <td><%= contact.anrede %></td>
    <td><%= contact.position %></td>
    <td><%= contact.streetaddress %></td>
    <td><%= contact.plz %></td>
    <td><%= contact.ort %></td>
    <td><%= contact.postfach %></td>
    <td><%= contact.postfachplz %></td>
    <td><%= contact.care_of %></td>
    <td><%= contact.telephone %></td>
    <td><%= contact.telefax %></td>
    <td><%= contact.mobile %></td>
    <td><%= contact.mail %></td>
    <td><%= contact.internet %></td>
    <td class="nowrap">
      <%= show_link contact %>
      <%= edit_link contact %>
      <%= delete_link contact %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link Contact %>
