<h2><%= t('activerecord.models.contact') %></h2>
<div class="row">
  <div class="col-lg-9 tab-content">
    <div class="card tab-pane active" id="basic_info" role="tabpanel" aria-labelledby="basic_info_tab">
      <div class="card-header">
        <h5 class="card-title"><%= t('attributes.basic_info')%></h5>
      </div>
      <div class="card-body">
	<table class="table table-bordered table-condensed autowidth">
	  <tr>
	    <th class="w-25"><%= t('attributes.sn')%>:</th>
	    <td><%= @contact.sn %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.givenname')%>:</th>
	    <td><%= @contact.givenname %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.displayname')%>:</th>
	    <td><%= @contact.displayname %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.title')%>:</th>
	    <td><%= @contact.title %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.anrede')%>:</th>
	    <td><%= @contact.anrede %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.position')%>:</th>
	    <td><%= @contact.position %></td>
	  </tr>
        </table>
      </div>
    </div>

    <div class="card tab-pane" id="address" role="tabpanel" aria-labelledby="address_tab">
      <div class="card-header">
        <h5 class="card-title"><%= t('attributes.address')%></h5>
      </div>
      <div class="card-body">
	<table class="table table-bordered table-condensed autowidth">
	  <tr>
	    <th><%= t('attributes.streetaddress')%>:</th>
	    <td><%= @contact.streetaddress %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.plz')%>:</th>
	    <td><%= @contact.plz %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.ort')%>:</th>
	    <td><%= @contact.ort %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.postfach')%>:</th>
	    <td><%= @contact.postfach %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.postfachplz')%>:</th>
	    <td><%= @contact.postfachplz %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.care_of')%>:</th>
	    <td><%= @contact.care_of %></td>
	  </tr>
        </table>
      </div>
    </div>

    <div class="card tab-pane" id="communication" role="tabpanel" aria-labelledby="communication_tab">
      <div class="card-header">
        <h5 class="card-title"><%= t('attributes.communication')%></h5>
      </div>
      <div class="card-body">
	<table class="table table-bordered table-condensed autowidth">
	  <tr>
	    <th><%= t('attributes.telephone')%>:</th>
	    <td><%= @contact.telephone %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.telefax')%>:</th>
	    <td><%= @contact.telefax %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.mobile')%>:</th>
	    <td><%= @contact.mobile %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.mail')%>:</th>
	    <td><%= @contact.mail %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.internet')%>:</th>
	    <td><%= @contact.internet %></td>
	  </tr>
        </table>
      </div>
    </div>
    <div class="card tab-pane" id="responsibilities" role="tabpanel" aria-labelledby="responsibilities_tab">
      <div class="card-header">
        <h5 class="card-title"><%= t('attributes.responsibilities')%></h5>
      </div>
      <div class="card-body">

        <%= render partial: 'responsibilities/responsibilities',
                   locals: { responsibilities: @contact.responsibilities } %>
      </div>
    </div>  

  </div>


  <div class="col-lg-3">
    <nav id="navbar-contact" class="navbar navbar-light bg-light">
      <a class="navbar-brand w-100" href="#">Inhalt</a>
      <nav class="nav nav-pills flex-column" role="tablist">
        <a class="nav-link active" data-toggle="tab" role="tab"
           href="#basic_info" id="basic_info_tab"
           aria-controls="basic_info" aria-selected="true">
           <%= t('attributes.basic_info')%></a>
        <a class="nav-link" data-toggle="tab" role="tab"
           href="#address" id="address_tab"
           aria-controls="address" aria-selected="true">
           <%= t('attributes.address')%></a>
        <a class="nav-link" data-toggle="tab" role="tab"
           href="#communication" id="communication_tab"
           aria-controls="communication" aria-selected="true">
           <%= t('attributes.communication')%></a>
        <a class="nav-link" data-toggle="tab" role="tab"
           href="#responsibilities" id="responsibilities_tab"
           aria-controls="responsibilities" aria-selected="true">
           <%= t('attributes.responsibilities')%> <span class="badge badge-light float-right"><%= @contact.responsibilities.count %></span></a>
      </nav>
    </nav>
  </div>
</div>

<br >

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@contact) %>
  <%= delete_link(@contact) %>
  <%= new_link Contact %>
  <%= link_to t('boskop.new_contact_from_ad'), main_app.ad_users_path, class: 'btn btn-secondary' %>
</div>
