<div class="container">
  <%= simple_form_for(@vulnerability,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>  
    <div class="card-body">

      <%= f.association :host
       %>
      <%= f.association :vulnerability_detail
       %>
      <%= f.input :plugin_output
       %>
      <%= f.input :lastseen, as: :string, wrapper: :horizontal_date
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
