<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.vulnerabilities') %></h1>

<%= content_tag :table, role: :remotetable,
      id: 'vulnerabilities_table',
      class: "table table-bordered table-striped",
      data: {
        url: polymorphic_path([@host, :vulnerabilities], format: :json),
        order: [[0, 'desc']].to_json
      } do %>

  <thead>
    <tr>
      <th><%= t('attributes.lid') %></th>
      <th><%= t('attributes.ip') %></th>
      <th><%= t('attributes.hostname') %></th>
      <th><%= t('attributes.host_category') %></th>
      <th><%= t('attributes.operating_system') %></th>
      <th><%= t('attributes.vulnerability_detail') %></th>
      <th><%= t('attributes.threat') %></th>
      <th><%= t('attributes.severity') %></th>
      <th><%= t('attributes.lastseen') %></th>
      <th class="nosort"><%= t('boskop.action') %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
  </tbody>
<% end %>

<br />

<%= back_link %>
<%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-default" %>
