<%= form_tag import_vulnerabilities_path, role: "form",
    multipart: true,
    method: :post, class: 'form-horizontal well' do %> 

  <fieldset>
    <legend>Import Vulnerabilities from File</legend>
    <div class="form-group">
      <label for="file" class="col-sm-2 control-label">
        <%= t('attributes.file') %>
      </label>
      <div class="col-sm-9">
        <input type="file" class="form-control" id="file" name="file" 
               placeholder="<%= t('boskop.import_vulnerabilities_file') %>">
      </div>
    </div>

    <div class="form-group">
      <label for="type" class="col-sm-2 control-label">
        <%= t('attributes.type') %>
      </label>
      <div class="col-sm-9">
        <select type="text" class="form-control" id="type" name="type">
          <%= options_for_select([["OpenVAS", "openvas"]]) %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="btn btn-primary"><%= t('actions.upload') %></button>

        <%= cancel_button %>
      </div>
    </div>

  </fieldset>
<% end %>
