<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<%= turbo_frame_tag "search_vulnerabilities" do %>
  <h1><%= t('boskop.vulnerabilities_searchresult') %></h1>

  <%= render partial: 'shared/filter' %>

  <div data-controller="datatables">
    <%= content_tag :table,
          id: 'vulnerabilities_table',
          class: "table table-bordered",
          data: {
            order: [[0, 'desc']].to_json
          } do %>

      <thead>
        <tr>
          <th><%= t('attributes.lid') %></th>
          <th><%= t('attributes.ip') %></th>
          <th><%= t('attributes.hostname') %></th>
          <th><%= t('attributes.host_category') %></th>
          <th><%= t('attributes.operating_system') %></th>
          <th><%= t('attributes.vulnerability_detail') %></th>
          <th class="notvisible"><%= t('attributes.nvt') %></th>
          <th class="notvisible"><%= t('attributes.plugin_output') %></th>
          <th><%= t('attributes.threat') %></th>
          <th><%= t('attributes.severity') %></th>
          <th><%= t('attributes.lastseen') %></th>
          <th class="notvisible"><%= t('attributes.created_at') %></th>
          <th class="nosort"><%= t('boskop.action') %></th>
        </tr>
      </thead>
      <tfoot class="search">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="nosearch"></th>
        </tr>
      </tfoot>

      <tbody>
        <% @vulnerabilities.each do |vulnerability| %>
          <%= content_tag_for(:tr, vulnerability) do %>
            <td><%= vulnerability.host.lid %></td>
            <td><%= link_to vulnerability.host.ip.to_s, host_path(vulnerability.host) %></td>
            <td><%= link_to vulnerability.host.name, host_path(vulnerability.host) %></td>
            <td><%= vulnerability.host.host_category %></td>
            <td><%= vulnerability.host.operating_system %></td>
            <td>
              <%= link_to vulnerability.vulnerability_detail,
                          vulnerability_detail_path(vulnerability.vulnerability_detail)
             %>
            </td>
            <td class="notvisible"><%= vulnerability.vulnerability_detail&.nvt %></td>
            <td class="notvisible"><%= vulnerability.plugin_output %></td>
            <td><%= vulnerability.vulnerability_detail.threat %></td>
            <td><%= vulnerability.vulnerability_detail.severity %></td>
            <td><%= vulnerability.lastseen %></td>
            <td class="notvisible"><%= vulnerability.created_at.to_date.to_s %></td>
            <td class="nowrap">
              <%= show_link vulnerability %>
              <%= edit_link vulnerability %>
              <%= delete_link vulnerability %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    <% end %>
  </div>

  <br />

  <%= back_link %>
  <%= new_link Vulnerability %>
<% end %>
