<div class="container">
<%= simple_form_for(@nessus_scan,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :nessus_id, disabled: true
       %>
      <%= f.input :uuid, disabled: true
       %>
      <%= f.input :name, disabled: true
       %>
      <%= f.input :status, disabled: true
       %>
      <%= f.input :last_modification_date, as: :string, disabled: true
       %>
      <%= f.input :import_state, collection: NessusScan::IMPORT_STATES,
                  include_blank: false
       %>
      <%= f.input :import_mode, collection: NessusScan::IMPORT_MODES,
                  include_blank: false
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
