<div class="container">
  <%= simple_form_for([@host, @network_interface],
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <h5 class="card-title"><%= t('actions.add', model: t('activerecord.models.network_interface')) %> für: <%= @network_interface.host %></h5>
    </div>
    <div class="card-body">
      <%= f.hidden_field :host_id, value: @network_interface.host.to_param
       %>
      <%= f.input :if_description
       %>
      <%= f.input :ip, as: :string
       %>
      <%= f.input :lastseen, as: :string,
                  wrapper: 'horizontal_date' 
       %>
      <%= f.input :mac
       %>
      <%= f.input :oui_vendor, disabled: true
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
