<%= simple_form_for(@network_interface,
  html: { class: 'form-horizontal well' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

  <fieldset>
    <%= form_legend %>

    <div class="form-inputs">
      <%= f.association :host, label_method: proc {|x| "#{x.lid} / #{x.name} / #{x.serial} / #{x.uuid}"}
       %>
      <%= f.input :if_description
       %>
      <%= f.input :ip, as: :string
       %>
      <%= f.input :lastseen, as: :string,
                  wrapper: 'horizontal_date' 
       %>
      <%= f.input :mac
       %>
      <%= f.input :oui_vendor, disabled: true
       %>
    </div>

    <div class="form-actions col-sm-9 col-sm-offset-3">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>
