<div data-controller="datatables">
  <%= content_tag :table,
        id: 'network_interfaces_table',
        class: "table table-sm",
        data: {
          order: [[0, 'desc']].to_json
        } do %>
  <thead>
    <tr>
      <th><%= t('attributes.lastseen') %></th>
      <th><%= t('attributes.ip') %></th>
      <th><%= t('attributes.mac') %></th>
      <th><%= t('attributes.oui_vendor') %></th>
      <th><%= t('attributes.if_description') %></th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>
  <tbody>

  <% network_interfaces.each do |network_interface| %>
    <%= content_tag_for(:tr, network_interface) do %>
      <td><%= network_interface.lastseen %></td>
      <td><%= network_interface.ip %></td>
      <td><%= network_interface.mac %></td>
      <td><%= network_interface.oui_vendor %></td>
      <td><%= network_interface.if_description %></td>
      <td class="nowrap">
        <%= show_link [network_interface.host, network_interface],
            class: "btn btn-outline-secondary btn-sm" %>
        <%= edit_link [network_interface.host, network_interface],
            class: "btn btn-outline-secondary btn-sm" %>
        <%= delete_link [network_interface.host, network_interface],
            class: "btn btn-danger btn-sm" %>
      </td>
    <% end %>
  <% end %>
  </tbody>
  <% end %>
</div>
