<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.network_interfaces') %></h1>

<%= content_tag :table, role: :remotetable,
      id: 'network_interfaces_table',
      class: "table table-bordered",
      data: {
        url: polymorphic_path([@host, :network_interfaces], format: :json),
        order: [[0, 'desc']].to_json
      } do %>


  <thead>
    <tr>
      <th><%= t('attributes.lid') %></th>
      <th><%= t('attributes.name') %></th>
      <th><%= t('attributes.ip') %></th>
      <th><%= t('attributes.mac') %></th>
      <th><%= t('attributes.if_description') %></th>
      <th><%= t('attributes.lastseen') %></th>
      <th><%= t('attributes.created_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
<%end%>

<br />

<%= back_link %>
<%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-secondary" %>
