<h1><%= t('controller.network_interfaces') %></h1>

<table id="dataTable" class="table table-bordered table-striped" role="datatable">
<thead>
  <tr>
    <th><%= t('attributes.host') %></th>
    <th><%= t('attributes.if_description') %></th>
    <th><%= t('attributes.ip') %></th>
    <th><%= t('attributes.lastseen') %></th>
    <th><%= t('attributes.mac') %></th>
    <th><%= t('attributes.oui_vendor') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @network_interfaces.each do |network_interface| %>
  <%= content_tag_for(:tr, network_interface) do %>
    <td><%= network_interface.host %></td>
    <td><%= network_interface.if_description %></td>
    <td><%= network_interface.ip %></td>
    <td><%= network_interface.lastseen %></td>
    <td><%= network_interface.mac %></td>
    <td><%= network_interface.oui_vendor %></td>
    <td class="nowrap">
      <%= show_link network_interface %>
      <%= edit_link network_interface %>
      <%= delete_link network_interface %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
