<div class="container">
  <%= simple_form_for(@address,
      html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">

      <%= f.input :addressfor_id, as: :hidden %>
      <%= f.input :addressfor_type, as: :hidden %>

	<div class="row mb-3">
	  <%= label_tag :addressfor, "Merkmal für", :class => "col-sm-3 control-label" %>
	  <div class="col-sm-9">
	    <%= text_field_tag "info_addressfor",
		"#{@address.addressfor_type}: #{@address.addressfor.to_s}",
		{ :class => 'input form-control', disabled: true } %>
	  </div>
	</div>

	<%= f.input :streetaddress
	 %>
	<%= f.input :plz
	 %>
	<%= f.input :ort
	 %>
	<%= f.input :care_of
	 %>
	<%= f.input :postfach
	 %>
	<%= f.input :postfachplz
	 %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
