<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.addressfor')%>:</th>
    <td><%= @address.addressfor %></td>
  </tr>
  <tr>
    <th><%= t('attributes.streetaddress')%>:</th>
    <td><%= @address.streetaddress %></td>
  </tr>
  <tr>
    <th><%= t('attributes.plz')%>:</th>
    <td><%= @address.plz %></td>
  </tr>
  <tr>
    <th><%= t('attributes.ort')%>:</th>
    <td><%= @address.ort %></td>
  </tr>
  <tr>
    <th><%= t('attributes.care_of')%>:</th>
    <td><%= @address.care_of %></td>
  </tr>
  <tr>
    <th><%= t('attributes.postfach')%>:</th>
    <td><%= @address.postfach %></td>
  </tr>
  <tr>
    <th><%= t('attributes.postfachplz')%>:</th>
    <td><%= @address.postfachplz %></td>
  </tr>
</table>

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@address) %>
  <%= delete_link(@address) %>
  <%= new_link Address %>
</div>
