<div class="container">
  <%= simple_form_for(@framework_contract,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">
      <%= f.input :name
       %>
      <%= f.input :description
       %>
      <%= f.input :contract_start, as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :contract_end,   as: :string, wrapper: :horizontal_date
       %>
      <%= f.input :contract_period,
            placeholder: t('boskop.describe_contract_period')
       %>

      <div class="form-group row">
        <%= f.label(:period_of_notice, class: 'col-sm-3 col-form-label') %>
        <div class="col-sm-3">
          <%= f.text_field :period_of_notice, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= f.select     :period_of_notice_unit, Boskop::PERIOD_UNITS,
                           {}, {class: "form-control"} %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label(:renewal_period, class: 'col-sm-3 col-form-label') %>
        <div class="col-sm-3">
          <%= f.text_field :renewal_period, class: "form-control" %>
        </div>
        <div class="col-sm-2">
          <%= f.select     :renewal_unit, Boskop::PERIOD_UNITS,
                           {}, {class: "form-control"} %>
        </div>
      </div>
      <%= f.input :active, as: :select, input_html: {class: "width25 col-sm-3"}
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
