<%= render 'shared/turbo-cache-control' %>

<div class="card">
  <div class="card-header">
    <h2>
      <%= t('attributes.framework_contract') %>:
      <%= @framework_contract.name %>
    </h2>
  </div>
  <div class="card-body">
    <table class="table table-sm table-hover table-borderless">
      <tr>
	<th><%= t('attributes.description')%>:</th>
	<td class="w-100"><%= @framework_contract.description %></td>
      </tr>
      <tr>
	<th><%= t('attributes.contract_start')%>:</th>
	<td><%= @framework_contract.contract_start %></td>
      </tr>
      <tr>
	<th><%= t('attributes.contract_end')%>:</th>
	<td><%= @framework_contract.contract_end %></td>
      </tr>
      <tr>
	<th><%= t('attributes.contract_period')%>:</th>
	<td><%= @framework_contract.contract_period %></td>
      </tr>
      <tr>
	<th><%= t('attributes.period_of_notice')%>:</th>
	<td><%= @framework_contract.period_of_notice %></td>
      </tr>
      <tr>
	<th><%= t('attributes.period_of_notice_unit')%>:</th>
	<td><%= @framework_contract.period_of_notice_unit %></td>
      </tr>
      <tr>
	<th><%= t('attributes.renewal_period')%>:</th>
	<td><%= @framework_contract.renewal_period %></td>
      </tr>
      <tr>
	<th><%= t('attributes.renewal_unit')%>:</th>
	<td><%= @framework_contract.renewal_unit %></td>
      </tr>
      <tr>
	<th><%= t('attributes.active')%>:</th>
	<td><%= @framework_contract.active %></td>
      </tr>
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@framework_contract) %>
      <%= delete_link(@framework_contract) %>
      <%= new_link FrameworkContract %>
    </div>
  </div>
</div>

<% if can? :read, Line %>
  <br />
  <div class="card ">
    <div class="card-header">
      <h3 class=" title float-left "><%= t('boskop.assigned_lines') %></h3>
      <div role="toolbar" class="float-right">
        <%= new_link [@framework_contract, Line] %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'lines/index', lines: @framework_contract.lines %>
    </div>
  </div>
<% end %>

