<h1><%= t('controller.org_units') %></h1>

<table id="dataTable" class="table table-bordered table-striped dataTable">
<thead>
  <tr>
    <th><%= t('attributes.name') %></th>
    <th><%= t('attributes.description') %></th>
    <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
      <%= mklasse.to_s %>
    <% end %>
    <th><%= t('attributes.actions') %></th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th></th>
    <th></th>
    <%= content_tag_for(:th, @merkmalklassen) do |mklasse| %>
    <% end %>
    <th></th>
  </tr>
</tfoot>

<tbody>

<% @org_units.each do |org_unit| %>
  <%= content_tag_for(:tr, org_unit) do %>
    <td><%= org_unit.name %></td>
    <td><%= org_unit.description %></td>
    <%= content_tag_for(:td, @merkmalklassen) do |mklasse| %>
      <%= get_orgunit_merkmal(org_unit, mklasse) %>
    <% end %>
    <td class="nowrap">
      <%= show_link org_unit %>
      <%= edit_link org_unit %>
      <%= delete_link org_unit %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link OrgUnit %>
<%= link_to t('actions.reset_table'), "#", id: "reset_table", class: "btn btn-default" %>

