<div class="container">
  <%= simple_form_for(@line_state,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">

      <%= f.input :name
       %>
      <%= f.input :description
       %>
      <%= f.input :active, as: :select
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  </fieldset>
<% end %>
