<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div data-controller="datatables">
  <h1><%= t('controller.line_states') %></h1>

  <table id="line_states" class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('attributes.name') %></th>
      <th><%= t('attributes.description') %></th>
      <th><%= t('attributes.active') %></th>
      <th class="nosort"></th>
    </tr>
  </thead>
  <tfoot class="search">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th class="nosearch"></th>
    </tr>
  </tfoot>
  <tbody>

  <% @line_states.each do |line_state| %>
    <%= content_tag_for(:tr, line_state) do %>
      <td><%= line_state.name %></td>
      <td><%= line_state.description %></td>
      <td><%= line_state.active %></td>
      <td class="nowrap">
        <%= show_link line_state %>
        <%= edit_link line_state %>
        <%= delete_link line_state %>
      </td>
    <% end %>
  <% end %>
  </tbody>
  </table>
</div>

<br />

<%= back_link %>
<%= new_link LineState %>
