<div class="container">
  <%= simple_form_for(@merkmalklasse,
    html: { class: 'form-horizontal card' }) do |f| %>

    <div class="card-header">
      <%= form_legend %>
    </div>
    <div class="card-body">

      <%= f.input :name
       %>
      <%= f.input :tag
       %>
      <%= f.input :description
       %>
      <%= f.input :format, collection: Merkmalklasse::FORMATE
       %>
      <%= f.input :for_object, collection: Merkmalklasse::OBJECTS
       %>
      <%= f.input :mandantory
       %>
      <%= f.input :unique
       %>
      <%= f.input :visible, collection: Merkmalklasse::VISIBLES, 
            input_html: { multiple: true }
       %>
      <%= f.input :position, default: 0
       %>
      <%= f.input :pvalues, placeholder: t('boskop.possible_values_for_dropdown')
       %>
      <%= f.input :baselink, placeholder: t('boskop.baselink_for_linkindex')
       %>

      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= cancel_button %>
    </div>
  <% end %>
</div>
