<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= @merkmalklasse.name %></td>
  </tr>
  <tr>
    <th><%= t('attributes.tag')%>:</th>
    <td><%= @merkmalklasse.tag %></td>
  </tr>
  <tr>
    <th><%= t('attributes.description')%>:</th>
    <td><%= @merkmalklasse.description %></td>
  </tr>
  <tr>
    <th><%= t('attributes.format')%>:</th>
    <td><%= @merkmalklasse.format %></td>
  </tr>
  <tr>
    <th><%= t('attributes.for_object')%>:</th>
    <td><%= @merkmalklasse.for_object %></td>
  </tr>
  <tr>
    <th><%= t('attributes.mandantory')%>:</th>
    <td><%= @merkmalklasse.mandantory %></td>
  </tr>
  <tr>
    <th><%= t('attributes.unique')%>:</th>
    <td><%= @merkmalklasse.unique %></td>
  </tr>
  <tr>
    <th><%= t('attributes.visible')%>:</th>
    <td><%= @merkmalklasse.visible %></td>
  </tr>
  <tr>
    <th><%= t('attributes.position')%>:</th>
    <td><%= @merkmalklasse.position %></td>
  </tr>
  <tr>
    <th><%= t('attributes.possible_values')%>:</th>
    <td><%= @merkmalklasse.possible_values %></td>
  </tr>
  <tr>
    <th><%= t('attributes.baselink')%>:</th>
    <td><%= @merkmalklasse.baselink %></td>
  </tr>
</table>

<div role="toolbar">
  <%= back_link %>
  <%= edit_link(@merkmalklasse) %>
  <%= delete_link @merkmalklasse,
        confirm: t('boskop.this_will_destroy_all_merkmale'),
        verify: t('boskop.verify_destroy') %>
  <%= new_link Merkmalklasse %>
</div>
