<%= render 'shared/turbo-cache-control' %>

<div class="card">
  <div class="card-header">
    <h2>
      <%= t('attributes.location') %>:
      <%= @location.to_s %>
    </h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
	<table class="table table-condensed table-hover">
	  <caption><%= t('boskop.basics')%></caption>
	  <tr>
	    <th><%= t('attributes.lid')%>:</th>
	    <td><%= @location.lid %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.description')%>:</th>
	    <td><%= @location.description %></td>
	  </tr>
	  <tr>
	    <th><%= t('attributes.addresses')%>:</th>
	    <td>
	      <% @location.addresses.each do |addr| %>
		<%= addr.to_s %> <br />
	      <% end %>
	    </td>
	  </tr>
	</table>
	<% if @location.disabled? %>
	  <div class="alert alert-warning" role="alert">
	  <i class="fas fa-exclamation-triangle"></i> <%= t('boskop.location_disabled')%>
	  </div>
	<% end %>
      </div>
      <div class="col-md-6">
	<table class="table table-condensed table-hover ">
	  <caption><%= t('controller.merkmale')%></caption>
	  <%= content_tag_for(:tr, @merkmalklassen) do |mklasse| %>
	    <td><%= mklasse.name %></td>
	    <td><%= get_location_merkmal(@location, mklasse) %></td>
	  <% end %>

	</table>
      </div>
    </div>
    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@location) %>
      <%= delete_link(@location) %>
      <%= new_link Location %>
      <%= link_to raw(
            t('controller.hosts') +
            %Q[ <span class="badge badge-light">] +
               @location.hosts.count.to_s +
            %Q[</span>]),
            search_hosts_path(lid: @location.lid, limit: 0), 
            class: 'btn btn-secondary' %>
      <%= link_to raw(
            t('controller.vulnerabilities') +
            %Q[ <span class="badge badge-light">] +
               @location.vulnerabilities.count.to_s +
            %Q[</span>]),
            search_vulnerabilities_path(lid: @location.lid, limit: 0), 
            class: 'btn btn-secondary' %>
    </div>
  </div>

</div>

<% if can? :read, Network %>
  <br />
  <h3 class="mb-3"><%= t('boskop.assigned_networks') %></h3>
    <%= render partial: 'networks/list', locals: { networks: @location.networks } %>
<% end %>

<% if can? :read, Line %>
  <br />
  <h3 class="mb-3"><%= t('boskop.assigned_lines') %></h3>
  <%= render partial: 'lines', locals: { lines: @location.lines_a } %>
<% end %>

