<h1><%= t('controller.software_raw_data') %></h1>

<table id="dataTable" class="table table-bordered table-striped" role="datatable">
<thead>
  <tr>
    <th><%= t('attributes.software') %></th>
    <th><%= t('attributes.name') %></th>
    <th><%= t('attributes.version') %></th>
    <th><%= t('attributes.vendor') %></th>
    <th><%= t('attributes.count') %></th>
    <th><%= t('attributes.operation_system') %></th>
    <th><%= t('attributes.lastseen') %></th>
    <th><%= t('attributes.source') %></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @software_raw_data.each do |software_raw_datum| %>
  <%= content_tag_for(:tr, software_raw_datum) do %>
    <td><%= software_raw_datum.software %></td>
    <td><%= software_raw_datum.name %></td>
    <td><%= software_raw_datum.version %></td>
    <td><%= software_raw_datum.vendor %></td>
    <td><%= software_raw_datum.count %></td>
    <td><%= software_raw_datum.operation_system %></td>
    <td><%= software_raw_datum.lastseen %></td>
    <td><%= software_raw_datum.source %></td>
    <td class="nowrap">
      <%= show_link software_raw_datum %>
      <%= edit_link software_raw_datum %>
      <%= delete_link software_raw_datum %>
    </td>
  <% end %>
<% end %>
</tbody>
</table>

<br />

<%= back_link %>
<%= new_link SoftwareRawDatum %>
