<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1><%= t('controller.software_raw_data') %></h1>

<%= content_tag :table, role: :datatable,
      id: "software_raw_data_table",
      class: "table table-bordered table-responsive-xl",
      data: {
        order: [[0, 'desc']].to_json
      } do %>
  <thead>
    <tr>
      <th><%= t('attributes.name') %></th>
      <th><%= t('attributes.version') %></th>
      <th><%= t('attributes.vendor') %></th>
      <th><%= t('attributes.count') %></th>
      <th><%= t('attributes.operating_system') %></th>
      <th><%= t('attributes.lastseen') %></th>
      <th><%= t('attributes.source') %></th>
      <th><%= t('attributes.software') %></th>
      <th class="nosort"><%= t('boskop.action') %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    <% @software_raw_data.each do |software_raw_datum| %>
      <%= content_tag_for(:tr, software_raw_datum) do %>
        <td><%= software_raw_datum.name %></td>
        <td><%= software_raw_datum.version %></td>
        <td><%= software_raw_datum.vendor %></td>
        <td><%= software_raw_datum.count %></td>
        <td><%= software_raw_datum.operating_system %></td>
        <td><%= software_raw_datum.lastseen %></td>
        <td><%= software_raw_datum.source %></td>
        <td><%= software_raw_datum.software %></td>
        <td class="text-nowrap">
          <%= show_link software_raw_datum %>
          <%= edit_link software_raw_datum %>
          <%= add_software_from_raw_data(software_raw_datum) %>
        </td>
      <% end %>
    <% end %>
  </tbody>
<% end %>

<br />

<%= back_link %>
<%= new_link SoftwareRawDatum %>
