<div class="card">
  <div class="card-header">
    <h6 class="subtitle"><%= t('activerecord.models.software_raw_datum') %>:</h6>
    <h4 class="title"><%= @software_raw_datum.name %></h4>
  </div>
  <div class="card-body">
    <table class="table table-sm table-borderless">
    
      <tr>
        <th class="w-25"><%= t('attributes.software')%>:</th>
        <td><%= swr_software_link(@software_raw_datum) %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.name')%>:</th>
        <td><%= @software_raw_datum.name %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.version')%>:</th>
        <td><%= @software_raw_datum.version %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.vendor')%>:</th>
        <td><%= @software_raw_datum.vendor %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.count')%>:</th>
        <td><%= @software_raw_datum.hosts.count %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.operating_system')%>:</th>
        <td><%= @software_raw_datum.operating_system %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.lastseen')%>:</th>
        <td><%= @software_raw_datum.lastseen %></td>
      </tr>
    
      <tr>
        <th class="w-25"><%= t('attributes.source')%>:</th>
        <td><%= @software_raw_datum.source %></td>
      </tr>
    
    </table>

    <div role="toolbar">
      <%= back_link %>
      <%= edit_link(@software_raw_datum) %>
      <%= delete_link(@software_raw_datum) %>
      <%= add_software_from_raw_data(@software_raw_datum) %>
      <%= remove_software_link(@software, @software_raw_datum) %>
      <%= new_link SoftwareRawDatum %>
    </div>
  </div>
</div>
